@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body, main {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#device_camera_preview, #cesium_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#device_camera_preview {
    object-fit: cover;
}

#status_container {
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
